.home-page {
    .header-bar {
        background-color: white;
        border-bottom: 1px solid #afc5d8;

        .logo {
            height: 30px;
        }
    }

    .content {
        background-color: white;
    }
}